@import url("https://fonts.googleapis.com/css?family=Permanent+Marker|Montserrat|Aclonica");

:root {
  --logo-font: "Aclonica", monospace;
  --header-font: "Montserrat", sans-serif;
  --core-font: "Montserrat", sans-serif;

  --primary: #ffffff;
  --secondary: #2a3747;

  --highlight: #fa4141;
  --theme-color:  rgb(199, 0, 66);
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  
  background-size: cover;
}
  
.page {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  height: 100%;
  width: 100%;


  background-size: cover;
  background-color: whitesmoke;

  font-family: var(--core-font);

}