@import url("https://fonts.googleapis.com/css?family=Permanent+Marker|Montserrat|Aclonica");

:root {
  --logo-font: "Aclonica", monospace;
  --header-font: "Montserrat", sans-serif;
  --core-font: "Montserrat", sans-serif;

  --primary: #ffffff;
  --secondary: #2a3747;

  --highlight: #fa4141;

  --ui-shawdow: 0 2px 4px -1px rgba(0, 0, 0, 0.06),
    0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
  fill: rgba(0, 0, 0, 0.54);
  --ui-shawdow-border: 1px solid rgba(0, 0, 0, 0.14);
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}


body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  background: url("images/strawberryshortcake.jpg") left top;
  background-size: cover;
}

h1 {
  font-size: 40px;
  font-family: var(--logo-font);
  padding: 25px;
}

.page {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  height: 100%;
  width: 100%;

  padding: 20px;

  background-size: cover;

  font-family: var(--core-font);

}

#banner-header{
  display: flex;
  flex-direction: row;
  /*justify-content: center;*/
  align-items: center;

  width: 100%;

  border-radius: 5px;

  overflow: hidden;
  background: white;
  padding: 5px;

  border-bottom: var(--ui-shawdow-border);
  
  box-shadow: var(--ui-shawdow);
  position: relative;

}

.banner-title{
  position: absolute;
  left: auto;
}

.right-options{
  left: 1200px;
  position: relative;
}

.about {
  text-decoration: none;
  font-size: 20px;
  float: left;
  padding: 15px;
}

#searchtoggle{
  font-size: 0;
  float: left;
  padding: 25px;
  position: relative;
  background: url("images/round_search_black_36dp.png") no-repeat 50% 50%;
  background-size: 65% auto;
}

#carttoggle{
  font-size: 0;
  float: left;
  padding: 25px;
  position: relative;
  background: url("images/round_add_shopping_cart_black_36dp.png") no-repeat 50% 50%;
  background-size: 65% auto;
}

#accounttoggle{
  font-size: 0;
  float: left;
  padding: 25px;
  position: relative;
  background: url("images/round_account_circle_black_36dp.png") no-repeat 50% 50%;
  background-size: 65% auto;
}