@import url("https://fonts.googleapis.com/css?family=Permanent+Marker|Montserrat|Aclonica");

:root {
  --logo-font: "Aclonica", monospace;
  --header-font: "Montserrat", sans-serif;
  --core-font: "Montserrat", sans-serif;

  --primary: #ffffff;
  --secondary: #2a3747;

  --highlight: #fa4141;
  --theme-color:  rgb(199, 0, 66);
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  
  background-size: cover;
}

h1 {
  font-size: 20px;
  font-family: var(--logo-font);
  color: whitesmoke;
  padding-top: 10px;
}

.page {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  height: 100%;
  width: 100%;


  background-size: cover;
  background-color: whitesmoke;

  font-family: var(--core-font);

}

#banner-header{
  display: flex;
  flex-direction: row;
  /*justify-content: center;*/
  align-items: center;

  width: 100%;

  overflow: hidden;
  background: var(--theme-color);
  padding: 5px;

  position: relative;

}

.banner-title{
  position: absolute;
  left: auto;
}

.right-options{
  left: 1290px;
  position: relative;
}

.about {
  text-decoration: none;
  font-size: 20px;
  float: left;
  padding: 10px;
  color: whitesmoke;
}

#searchtoggle{
  font-size: 0;
  float: left;
  padding: 25px;
  position: relative;
  background: url("images/baseline_search_white_36dp.png") no-repeat 50% 50%;
  background-size: 65% auto;
}

#carttoggle{
  font-size: 0;
  float: left;
  padding: 25px;
  position: relative;
  background: url("images/baseline_add_shopping_cart_white_36dp.png") no-repeat 50% 50%;
  background-size: 65% auto;
}

#accounttoggle{
  font-size: 0;
  float: left;
  padding: 25px;
  position: relative;
  background: url("images/baseline_account_circle_white_36dp.png") no-repeat 50% 50%;
  background-size: 65% auto;
}

.carousel-item {
  height: 85vh;
  min-height: 350px;
  background: no-repeat 10% 10% scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#sticky-footer {
  flex-shrink: none;
  width: 100%;
  background: var(--theme-color);
  padding-bottom: 1.0rem!important;
  padding-top: 1.0rem!important;
}

small{
  color: whitesmoke;
}
